@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f1f1f4;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --ring: #a1a1aa;
  --radius: 0.625rem;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
}

body {
  @apply bg-background text-foreground antialiased;
}
